/* line 2, ../sass/calendar.system.scss */
.calendar_system .wrapList {
  padding: 35px;
}
/* line 7, ../sass/calendar.system.scss */
.calendar_system .item .head {
  background: #FFDAB9;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  font-size: 24px;
  color: #002163;
  margin-bottom: 20px;
}
/* line 18, ../sass/calendar.system.scss */
.calendar_system .item .head .title {
  float: left;
  margin-top: 8px;
}
/* line 23, ../sass/calendar.system.scss */
.calendar_system .item .head .close {
  float: right;
  display: block;
  background: url("../images/close.png");
  width: 34px;
  height: 34px;
  background-size: 34px 34px;
  cursor: pointer;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
/* line 35, ../sass/calendar.system.scss */
.calendar_system .item .head .close:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
/* line 44, ../sass/calendar.system.scss */
.calendar_system .item .wrap {
  display: table;
  width: 100%;
}
/* line 48, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row {
  display: table-row;
}
/* line 51, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row .left {
  display: table-cell;
  vertical-align: middle;
}
/* line 56, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row .right {
  display: table-cell;
  vertical-align: middle;
  vertical-align: top;
}
/* line 62, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row .left {
  width: 30%;
}
/* line 65, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row .left img {
  max-width: 100%;
  min-width: 100%;
  display: table;
  margin: auto;
}
/* line 73, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row .right {
  padding-left: 65px;
}
/* line 79, ../sass/calendar.system.scss */
.calendar_system .item p {
  padding-bottom: 20px;
}
/* line 83, ../sass/calendar.system.scss */
.calendar_system .item .bttn {
  color: #fff;
  float: right;
  background: #00B5F7;
  display: table;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
}
/* line 95, ../sass/calendar.system.scss */
.calendar_system .item .view {
  display: table;
  margin: auto;
  color: #fff;
  background: #96D652;
  display: table;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
}
/* line 109, ../sass/calendar.system.scss */
.calendar_system .item .bottom .left, .calendar_system .item .bottom .right {
  padding-top: 20px;
}
/* line 114, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row .right h5 {
  text-align: right;
  display: table;
  width: 100%;
  font-size: 23px;
  font-weight: bold;
  color: #002163;
  padding-bottom: 30px;
}
/* line 124, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row.bottom {
  height: 50px;
  max-height: 50px;
}
/* line 129, ../sass/calendar.system.scss */
.calendar_system .item .wrap-right, .calendar_system .item .wrap-left {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 135, ../sass/calendar.system.scss */
.calendar_system .item .wrap-right .middle, .calendar_system .item .wrap-left .middle {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
/* line 142, ../sass/calendar.system.scss */
.calendar_system .item .wrap-right .middle {
  vertical-align: top;
}
/* line 146, ../sass/calendar.system.scss */
.calendar_system .item p {
  font-size: 19px;
  font-weight: 300;
  line-height: 25px;
}
/* line 152, ../sass/calendar.system.scss */
.calendar_system .item .view, .calendar_system .item .bttn {
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  height: 36px;
  line-height: 36px;
}
/* line 163, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row span {
  display: block;
  font-size: 19px;
  padding-bottom: 8px;
}
/* line 169, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row .closeBox {
  display: block;
  float: right;
  width: 18px;
  height: 18px;
  background: url("../images/close_box.png");
  position: absolute;
  right: 30px;
  top: 21px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 182, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row .closeBox:hover {
  opacity: 0.85;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 190, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row li {
  list-style: none;
  padding-left: 20px;
}
/* line 194, ../sass/calendar.system.scss */
.calendar_system .item .wrap .row li a {
  text-decoration: none;
  font-size: 15px;
  white-space: nowrap;
}
/* line 204, ../sass/calendar.system.scss */
.calendar_system .select.format {
  position: relative;
  display: table;
  margin: auto;
  width: 100%;
}
/* line 211, ../sass/calendar.system.scss */
.calendar_system .select.sections {
  position: relative;
  float: right;
  width: 46%;
}
/* line 217, ../sass/calendar.system.scss */
.calendar_system .select .box {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 55px;
  background: #92D050;
  color: #fff;
  padding: 25px;
  border-radius: 5px;
  height: 190px;
}
/* line 229, ../sass/calendar.system.scss */
.calendar_system .select .box.scrolled {
  height: auto;
}
/* line 232, ../sass/calendar.system.scss */
.calendar_system .select .box.scrolled .left, .calendar_system .select .box.scrolled .right {
  padding-top: 0px;
}
/* line 236, ../sass/calendar.system.scss */
.calendar_system .select .box.scrolled .right {
  padding-right: 40px;
}
/* line 240, ../sass/calendar.system.scss */
.calendar_system .select .box.scrolled .top {
  position: absolute;
  right: 25px;
}
/* line 244, ../sass/calendar.system.scss */
.calendar_system .select .box.scrolled .top .closeBox {
  top: 0;
  right: 0;
}
/* line 252, ../sass/calendar.system.scss */
.calendar_system .select.sections .box {
  background: #00B0F0;
}
/* line 257, ../sass/calendar.system.scss */
.calendar_system .select .box a {
  color: #fff;
}
/* line 261, ../sass/calendar.system.scss */
.calendar_system .select .box .top span {
  font-size: 25px;
  font-weight: 500;
}
/* line 267, ../sass/calendar.system.scss */
.calendar_system .select.format li a:hover {
  text-decoration: underline;
}
/* line 271, ../sass/calendar.system.scss */
.calendar_system .select.sections ul {
  display: flex;
  align-items: space-between;
  margin-top: 28px;
}
/* line 276, ../sass/calendar.system.scss */
.calendar_system .select.sections ul li {
  list-style: none;
  flex: 0 1 33%;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-left: 0 !important;
}
/* line 285, ../sass/calendar.system.scss */
.calendar_system .select.sections ul li a {
  padding-top: 60px;
  display: table;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 294, ../sass/calendar.system.scss */
.calendar_system .select.sections ul li a:hover {
  transform: scale(1.1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 301, ../sass/calendar.system.scss */
.calendar_system .select.sections ul li a:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 50%;
}
/* line 309, ../sass/calendar.system.scss */
.calendar_system .select.sections ul li:nth-child(1) a:before {
  background: url("../images/history.svg");
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin-left: -25px;
}
/* line 317, ../sass/calendar.system.scss */
.calendar_system .select.sections ul li:nth-child(2) a:before {
  background: url("../images/structure.svg");
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin-left: -25px;
}
/* line 325, ../sass/calendar.system.scss */
.calendar_system .select.sections ul li:nth-child(3) a:before {
  background: url("../images/actual.svg");
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin-left: -25px;
}
/* line 335, ../sass/calendar.system.scss */
.calendar_system .select .left, .calendar_system .select .right {
  vertical-align: top !important;
}
/* line 340, ../sass/calendar.system.scss */
.calendar_system .wrapList, .calendar_system .item .wrap, .calendar_system .wrapList .item {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 346, ../sass/calendar.system.scss */
.calendar_system .wrapList {
  padding-right: 56px;
  padding-left: 56px;
}
/* line 351, ../sass/calendar.system.scss */
.calendar_system .textContent p {
  padding-bottom: 20px;
}

/* line 357, ../sass/calendar.system.scss */
.calendar_content_system p {
  padding-bottom: 15px;
}
/* line 360, ../sass/calendar.system.scss */
.calendar_content_system p:last-child {
  padding-bottom: 0;
}
/* line 365, ../sass/calendar.system.scss */
.calendar_content_system .wrapList {
  width: 65%;
  display: table;
  margin: auto;
  font-size: 16px;
  line-height: 145%;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
/* line 378, ../sass/calendar.system.scss */
.calendar_content_system.calendar_text .wrapList {
  padding-right: 35px;
  min-height: 350px;
}

/* line 385, ../sass/calendar.system.scss */
.menu_kot {
  cursor: pointer;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
/* line 391, ../sass/calendar.system.scss */
.menu_kot:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

/* line 400, ../sass/calendar.system.scss */
.sections_kot.select.format {
  position: relative;
  display: table;
  margin: auto;
  width: 100%;
}
/* line 407, ../sass/calendar.system.scss */
.sections_kot.select.sections {
  position: relative;
  float: right;
  width: 65%;
}
/* line 413, ../sass/calendar.system.scss */
.sections_kot.select .box {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 55px;
  background: #92D050;
  color: #fff;
  text-transform: lowercase;
  min-width: 450px;
  padding: 25px;
  border-radius: 5px;
  height: 190px;
}
/* line 429, ../sass/calendar.system.scss */
.sections_kot.select.sections .box {
  background: #00B0F0;
}
/* line 432, ../sass/calendar.system.scss */
.sections_kot.select.sections .box a {
  color: #fff;
}
/* line 436, ../sass/calendar.system.scss */
.sections_kot.select.sections .box span {
  font-size: 25px;
  font-weight: 500;
  font-size: 19px;
  padding-bottom: 8px;
}
/* line 443, ../sass/calendar.system.scss */
.sections_kot.select.sections .box .closeBox {
  display: block;
  float: right;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 30px;
  top: 21px;
  background: url("../images/close_box.png");
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 457, ../sass/calendar.system.scss */
.sections_kot.select.sections .box .closeBox:hover {
  opacity: 0.85;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 465, ../sass/calendar.system.scss */
.sections_kot.select.sections .box li {
  list-style: none;
  padding-left: 20px;
}
/* line 469, ../sass/calendar.system.scss */
.sections_kot.select.sections .box li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
}
/* line 477, ../sass/calendar.system.scss */
.sections_kot.select.sections.format .box li a:hover {
  text-decoration: underline;
}
/* line 481, ../sass/calendar.system.scss */
.sections_kot.select.sections .box ul {
  display: flex;
  align-items: space-between;
  margin-top: 28px;
}
/* line 486, ../sass/calendar.system.scss */
.sections_kot.select.sections .box ul li {
  list-style: none;
  flex: 0 1 33%;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-left: 0 !important;
}
/* line 495, ../sass/calendar.system.scss */
.sections_kot.select.sections .box ul li a {
  padding-top: 60px;
  display: table;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 504, ../sass/calendar.system.scss */
.sections_kot.select.sections .box ul li a:hover {
  transform: scale(1.1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 511, ../sass/calendar.system.scss */
.sections_kot.select.sections .box ul li a:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 50%;
}
/* line 519, ../sass/calendar.system.scss */
.sections_kot.select.sections .box ul li:nth-child(1) a:before {
  background: url("../images/history.svg");
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin-left: -25px;
}
/* line 527, ../sass/calendar.system.scss */
.sections_kot.select.sections .box ul li:nth-child(2) a:before {
  background: url("../images/structure.svg");
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin-left: -25px;
}
/* line 535, ../sass/calendar.system.scss */
.sections_kot.select.sections .box ul li:nth-child(3) a:before {
  background: url("../images/actual.svg");
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin-left: -25px;
}
