* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wr {
  display: flex;
  flex-wrap: wrap;
  justify-content: spase-between;
  width: 100%;
  margin: 0 auto;
}

.item {
  width: 100%;
  height: auto;
}
.item_block {
  display: block;
  width: 100%;
  height: 100%;
}
.item_block_mu {
  position: relative;
}

.item_block {
	padding-left: 35px;
	padding-right: 35px;
}