/* line 1, ../sass/calendar.main.scss */
#content.page .container {
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 7, ../sass/calendar.main.scss */
#headerCalendar {
  display: table-row;
  background: #D9D8D9;
  height: 60px;
  color: #002063;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 16, ../sass/calendar.main.scss */
#headerCalendar .left, #headerCalendar .center, #headerCalendar .right {
  display: table-cell;
}
/* line 20, ../sass/calendar.main.scss */
#headerCalendar .left, #headerCalendar .right {
  width: 1%;
  white-space: nowrap;
}
/* line 25, ../sass/calendar.main.scss */
#headerCalendar .center {
  padding-top: 20px;
  text-align: center;
}
/* line 30, ../sass/calendar.main.scss */
#headerCalendar .prev a, #headerCalendar .next a, #headerCalendar .bottom a {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  top: 5.5px;
}
/* line 38, ../sass/calendar.main.scss */
#headerCalendar .logo_list a {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  top: 5.5px;
}
/* line 46, ../sass/calendar.main.scss */
#headerCalendar .prev a {
  background: url("../images/prev.svg");
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
}
/* line 53, ../sass/calendar.main.scss */
#headerCalendar .next a {
  background: url("../images/next.svg");
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  float: right;
}
/* line 61, ../sass/calendar.main.scss */
#headerCalendar .bottom a {
  background: url("../images/bottom.png");
  background-size: 35px 35px;
}
/* line 66, ../sass/calendar.main.scss */
#headerCalendar .logo_list a {
  background-image: url("../images/logo_list.png");
  background-size: 35px 35px;
}

/* line 72, ../sass/calendar.main.scss */
#footerCalendar {
  display: table-row;
  height: 60px;
  background: #002060;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 81, ../sass/calendar.main.scss */
#footerCalendar .left, #footerCalendar .center, #footerCalendar .right {
  display: table-cell;
}
/* line 85, ../sass/calendar.main.scss */
#footerCalendar .left, #footerCalendar .right {
  width: 1%;
  white-space: nowrap;
}
/* line 90, ../sass/calendar.main.scss */
#footerCalendar .left.toList a {
  display: block;
  position: relative;
  top: 7px;
}
/* line 96, ../sass/calendar.main.scss */
#footerCalendar .center {
  text-align: center;
  padding-top: 21px;
}
/* line 101, ../sass/calendar.main.scss */
#footerCalendar .logo a {
  display: table;
  float: right;
  background: url("../images/logo.png");
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  position: relative;
  top: 6.5px;
}
/* line 112, ../sass/calendar.main.scss */
#footerCalendar .fullSize a {
  display: table;
  float: right;
  background: url("../images/maximize.png");
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  position: relative;
  top: 6.5px;
}
/* line 122, ../sass/calendar.main.scss */
#footerCalendar .fullSize a.active {
  background: url("../images/minimize.png");
  background-size: 35px 35px;
}
/* line 128, ../sass/calendar.main.scss */
#footerCalendar .top a {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  top: 5.5px;
  background: url("../images/top.png");
  background-size: 35px 35px;
}

/* line 139, ../sass/calendar.main.scss */
#headerCalendar .left, #footerCalendar .left {
  font-weight: bold;
}

/* line 143, ../sass/calendar.main.scss */
.calendar_listWrap, .calendarWrap, .calendar_list_system .wrapList {
  padding: 35px;
}

/* line 147, ../sass/calendar.main.scss */
.calendar td.active {
  box-shadow: inset 0 0 0 2.5px transparent;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: relative;
}
/* line 154, ../sass/calendar.main.scss */
.calendar td.active:before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  border: 3px transparent solid;
  -webkit-transition: border 5s;
  -o-transition: border 5s;
  transition: border 5s;
}
/* line 167, ../sass/calendar.main.scss */
.calendar td.active.c1:before {
  border: 3px #fff solid;
}
/* line 171, ../sass/calendar.main.scss */
.calendar td.active.c2:before {
  border: 3px #CC0000 solid;
}
/* line 175, ../sass/calendar.main.scss */
.calendar td.active.c3:before {
  border: 3px #FFC600 solid;
}
/* line 179, ../sass/calendar.main.scss */
.calendar td.active.c4:before {
  border: 3px #FFFF00 solid;
}
/* line 183, ../sass/calendar.main.scss */
.calendar td.active.c5:before {
  border: 3px #00B552 solid;
}
/* line 187, ../sass/calendar.main.scss */
.calendar td.active.c6:before {
  border: 3px #00B5F7 solid;
}
/* line 191, ../sass/calendar.main.scss */
.calendar td.active.c7:before {
  border: 3px #0073C6 solid;
}
/* line 195, ../sass/calendar.main.scss */
.calendar td.active.c8:before {
  border: 3px #002163 solid;
}
/* line 199, ../sass/calendar.main.scss */
.calendar td.active.c9:before {
  border: 3px #000000 solid;
}
