/* line 1, ../sass/calendar.main.scss */
#content.page .container {
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 7, ../sass/calendar.main.scss */
#headerCalendar {
  display: table-row;
  background: #D9D8D9;
  height: 60px;
  color: #002063;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 16, ../sass/calendar.main.scss */
#headerCalendar .left, #headerCalendar .center, #headerCalendar .right {
  display: table-cell;
}
/* line 20, ../sass/calendar.main.scss */
#headerCalendar .left, #headerCalendar .right {
  width: 1%;
  white-space: nowrap;
}
/* line 25, ../sass/calendar.main.scss */
#headerCalendar .center {
  padding-top: 20px;
  text-align: center;
}
/* line 30, ../sass/calendar.main.scss */
#headerCalendar .prev a, #headerCalendar .next a, #headerCalendar .bottom a {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  top: 5.5px;
}
/* line 38, ../sass/calendar.main.scss */
#headerCalendar .logo_list a {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  top: 5.5px;
}
/* line 46, ../sass/calendar.main.scss */
#headerCalendar .prev a {
  background: url("../images/prev.svg");
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
}
/* line 53, ../sass/calendar.main.scss */
#headerCalendar .next a {
  background: url("../images/next.svg");
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  float: right;
}
/* line 61, ../sass/calendar.main.scss */
#headerCalendar .bottom a {
  background: url("../images/bottom.png");
  background-size: 35px 35px;
}
/* line 66, ../sass/calendar.main.scss */
#headerCalendar .logo_list a {
  background-image: url("../images/logo_list.png");
  background-size: 35px 35px;
}

/* line 72, ../sass/calendar.main.scss */
#footerCalendar {
  display: table-row;
  height: 60px;
  background: #002060;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 81, ../sass/calendar.main.scss */
#footerCalendar .left, #footerCalendar .center, #footerCalendar .right {
  display: table-cell;
}
/* line 85, ../sass/calendar.main.scss */
#footerCalendar .left, #footerCalendar .right {
  width: 1%;
  white-space: nowrap;
}
/* line 90, ../sass/calendar.main.scss */
#footerCalendar .left.toList a {
  display: block;
  position: relative;
  top: 7px;
}
/* line 96, ../sass/calendar.main.scss */
#footerCalendar .center {
  text-align: center;
  padding-top: 21px;
}
/* line 101, ../sass/calendar.main.scss */
#footerCalendar .center.format .selectFormat {
  display: none;
  position: absolute;
  bottom: 0;
  padding-bottom: 47px;
  left: 50%;
  width: 40%;
  margin-left: -20%;
}
/* line 110, ../sass/calendar.main.scss */
#footerCalendar .center.format .selectFormat .selectFormatWrap {
  background: #fff;
  border-radius: 15px 15px 0 0;
  padding: 40px;
  width: 100%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  position: relative;
}
/* line 118, ../sass/calendar.main.scss */
#footerCalendar .center.format .selectFormat .selectFormatWrap li {
  padding-bottom: 10px;
}
/* line 121, ../sass/calendar.main.scss */
#footerCalendar .center.format .selectFormat .selectFormatWrap li:last-child {
  padding-bottom: 0;
}
/* line 126, ../sass/calendar.main.scss */
#footerCalendar .center.format .selectFormat .selectFormatWrap a {
  font-size: 18px;
}
/* line 130, ../sass/calendar.main.scss */
#footerCalendar .center.format .selectFormat .selectFormatWrap:before {
  content: '';
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  bottom: -10px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
}
/* line 145, ../sass/calendar.main.scss */
#footerCalendar .center.format.active .selectFormat {
  display: block;
}
/* line 151, ../sass/calendar.main.scss */
#footerCalendar .logo a {
  display: table;
  float: right;
  background: url("../images/logo.png");
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  position: relative;
  top: 6.5px;
}
/* line 162, ../sass/calendar.main.scss */
#footerCalendar .fullSize a {
  display: table;
  float: right;
  background: url("../images/maximize.png");
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  position: relative;
  top: 6.5px;
}
/* line 172, ../sass/calendar.main.scss */
#footerCalendar .fullSize a.active {
  background: url("../images/minimize.png");
  background-size: 35px 35px;
}
/* line 178, ../sass/calendar.main.scss */
#footerCalendar .top a {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  top: 5.5px;
  background: url("../images/top.png");
  background-size: 35px 35px;
}

/* line 189, ../sass/calendar.main.scss */
#headerCalendar .left, #footerCalendar .left {
  font-weight: bold;
}

/* line 193, ../sass/calendar.main.scss */
.calendar_listWrap, .calendarWrap, .calendar_list_system .wrapList {
  padding: 35px;
}

/* line 197, ../sass/calendar.main.scss */
.calendar td.active {
  box-shadow: inset 0 0 0 2.5px transparent;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: relative;
}
/* line 204, ../sass/calendar.main.scss */
.calendar td.active:before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  border: 3px transparent solid;
  -webkit-transition: border 5s;
  -o-transition: border 5s;
  transition: border 5s;
}
/* line 217, ../sass/calendar.main.scss */
.calendar td.active.c1:before {
  border: 3px #fff solid;
}
/* line 221, ../sass/calendar.main.scss */
.calendar td.active.c2:before {
  border: 3px #CC0000 solid;
}
/* line 225, ../sass/calendar.main.scss */
.calendar td.active.c3:before {
  border: 3px #FFC600 solid;
}
/* line 229, ../sass/calendar.main.scss */
.calendar td.active.c4:before {
  border: 3px #FFFF00 solid;
}
/* line 233, ../sass/calendar.main.scss */
.calendar td.active.c5:before {
  border: 3px #00B552 solid;
}
/* line 237, ../sass/calendar.main.scss */
.calendar td.active.c6:before {
  border: 3px #00B5F7 solid;
}
/* line 241, ../sass/calendar.main.scss */
.calendar td.active.c7:before {
  border: 3px #0073C6 solid;
}
/* line 245, ../sass/calendar.main.scss */
.calendar td.active.c8:before {
  border: 3px #002163 solid;
}
/* line 249, ../sass/calendar.main.scss */
.calendar td.active.c9:before {
  border: 3px #000000 solid;
}

/* line 254, ../sass/calendar.main.scss */
.vs-list {
  display: table;
  width: 80%;
  margin: auto;
}
/* line 259, ../sass/calendar.main.scss */
.vs-list li {
  list-style: none;
  float: left;
  width: 12.5%;
}
/* line 264, ../sass/calendar.main.scss */
.vs-list li a {
  display: block;
  text-align: center;
  background: #f7f7f7;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  margin: 2px;
}
/* line 273, ../sass/calendar.main.scss */
.vs-list li a:hover {
  background: #002060;
  color: #fff;
}
